html, body{
  margin: 0;
  padding: 0;
  background: url("fondos/inicio1.png");
  width: 100%;
  height: 100%;
  font-family: "Verdana";
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-size: 100%;
  background-repeat: n;
}
h1{
  font-size: 25px;
  text-align: center;
  color:  #E0334B; 
}
header{
  height:50px;
  background-color:#FE2831 ;
  font-size: 40px;
  color: white;
  font-weight: 100;
  padding-bottom: 23px;
  padding-top: 15PX;  
  text-align: center;
}
.tarjeta, form{
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  color: #FE2831;
  font-size: 16px;
}
.title{
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  margin-top: 100px;
  font-weight: 100; 
}
input.boton {
   background: #FF536A;
   border: 3px solid #4C4C4C ;
   border-radius: 8px 8px 8px 8px;
   color: #393939;
   font-size: 20px;
   padding: 12px;
   color: #FFFFFF;
}